<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoomRental</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/RoomRental.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href=@($"https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css")>
</head>
<body>
    <div class="wrapper">
        <header>
            <div>
                <div class="logo">
                    <a class="app-name" asp-area="" asp-controller="Home" asp-action="Index">RoomRental</a>
                </div>
                <nav>
                    <partial name="_NavigationPartial" />
                    <partial name="_LoginPartial" />
                </nav>
            </div>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <div class="footer_copyright">
                <div class="copyright_text">
                    <div>
                        &copy; 2023 - RoomRental - <span><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src=@($"https://cdn.jsdelivr.net/npm/@glidejs/glide")></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
