@model RegisterViewModel

<div class="parent">
    <div class="loginContainer">
        <h1 class="loginHeader">Регистрация</h1>
        <form class="loginForm" method="post" asp-controller="Account" asp-action="Register">
            <div class="block text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="block">
                <input class="loginInput" asp-for="Login" placeholder="Введите логин" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div> 
            <div class="block">
                <input class="loginInput" asp-for="Surname" placeholder="Введите фамилию" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>  
            <div class="block">
                <input class="loginInput" asp-for="Name" placeholder="Введите имя" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>  
            <div class="block">
                <input class="loginInput" asp-for="Lastname" placeholder="Введите отчество" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>    
            <div class="block">
                <select id="select" asp-for="OrganizationId" class="loginInput" asp-items="ViewBag.OrganizationId"></select>
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>
            <div class="block">
                <input class="loginInput" asp-for="Email" placeholder="Введите электронную почту" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="block">
                <input class="loginInput" asp-for="Password" placeholder="Введите пароль" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="block">
                <input class="loginInput" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="block">
                <input class="submitButton" type="submit" value="Регистрация" />
            </div>
            <div class="block">
                <label>Уже есть аккаунт?</label>
                <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
            </div>
        </form>
    </div>
</div>