@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="table-container">
    <h1>Список ролевых политик</h1>
    <div>
        <table class="table">
            <tr style="border-bottom: 2px solid black;">
                <th class="element">
                    Название роли
                </th>
                <th class="element"></th>
            </tr>
            @foreach (var role in Model)
            {
                <tr class="row">
                    <td class="element">@role.Name</td>
                    <td class="element">
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        </table>
    </div>
</div>