@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<div class="container">
    <h1>Изменение пароля для пользователя @Model.Email</h1>

    <div class="create-form-container">
        <form asp-action="ChangePassword" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input class="filter-input" asp-for="NewPassword" class="form-control" placeholder="Новый пароль" />
            </div>
            <button type="submit" class="submitButton-index">Изменить</button>
        </form>
    </div>
</div>